.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 1vmin);
  color: white;
}

img {
  max-height: 20vh;
}

textarea {
  width: 50vw;
  height: 95vh;
}

#preview {
  width: 50vw;
}

.App-link {
  color: #61dafb;
}